/* .App {
  text-align: center;
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  background-color: yellowgreen;
} */
.container{
  background-color: yellowgreen;
  
  
  
}

p{
  text-align: center;
}